 body {
      font-family: Arial, sans-serif;
      margin: 5pt;
      padding: 15px;
      flex::content
    }
    
    /* Header Styles */
    header {
      background-color: #a9fdd7;
      color: #000000;
      padding: 20px;
      border-radius: 15px;
      width:50%;
      display:flex; 
    }
    
    h1 {
      margin: 0;
      font-size: 24px;
    }
    
    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    nav ul li {
      display: inline;
      margin-right: 10px;
      max-width:800px;
    }
    
    nav ul li a {
      color: #0f5542;
      text-decoration: none;
      width:50%;
      max-width:800px;
    }
    
    .active {
      font-weight: bold;
    }
    
    /* About Section Styles */
    #about {
      padding: 40px;
      background-color: #a8bdfd;
      border-radius: 15px;
      width:50%;
      max-width:800px;
    }
    
    #about img {
      max-width: 100%;
      height: auto;
    }
    
    /* Portfolio Section Styles */
    #portfolio {
      padding: 40px;
      background-color: #fff;
      border-radius: 15px;
    }
    
    .project {
      margin-bottom: 20px;
    }
    
    .project img {
      max-width: 100%;
      height: auto;
    }
    
    .project-details h3 {
      margin: 10px 0;
    }
    
    .project-details p {
      margin: 0;
    }
    
    /* Contact Section Styles */
    #contact {
      padding: 40px;
      padding-left:100px;
      background-color: #85eff4;
      border-radius: 15px; 
      width:50%; 
      max-width:800px;
    }
    
    #contact-form label {
      display: block;
      margin-bottom: 5px;
      font-weight: 800;
      font-style: oblique;
    }
    
    #contact-form input,
    #contact-form textarea {
      width: 50%;
      padding: 5px;
      margin-bottom: 10px;
      border-radius:10px;
    }
    
    #contact-form button {
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      border: none;
      cursor: pointer;
      width:50%;
    }
    
    /* Resume Section Styles */
    #resume {
      padding: 40px;
      background-color: #fff;
      width:50%;
    }
    
    #resume a {
      display: inline-block;
      margin-bottom: 10px;
      width:50%;
      display:flex; 
    }
    
    